# Dependencias de Node.js
node_modules/
 
# Archivos de compilación
build/
dist/

# Configuración de React
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema
.DS_Store
Thumbs.db

# Editor de código
.vscode/
.idea/
*.swp

# Cachés
.cache/
.parcel-cache/

# Otros
*.log
*.lock
*.tmp
*.bak